webService/XMLTest/schema/Test01.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
        targetNamespace="http://www.example.org/Test01"
        xmlns:tns="http://www.example.org/Test01" 
        elementFormDefault="qualified">
    <xsd:element name="user">
        <xsd:complexType>
           <xsd:sequence>
              <xsd:element name="userID" type="xsd:int"></xsd:element>
              <xsd:element name="userName" type="xsd:string"></xsd:element>
              <xsd:element name="dateBorn" type="xsd:date"></xsd:element>
           </xsd:sequence> 
        </xsd:complexType>
    </xsd:element>
</xsd:schema>